# IDE and compilation files
lasertag/.settings
lasertag/src-gen/bin
lasertag/src-gen/logs
lasertag/src-gen/obj
.project
.DS_store
*.xml
*.iml
LaserTagBox/bin
LaserTagBox/obj
.metadata
.idea

# Analysis and Visualization files (Python)
*.pyc
*.prefs

# LaTeX compiler outputs
*.aux
*.fls
*.fdb_latexmk
*.log
*.out
main.pdf
*.synctex.gz
*.toc