# IDE and compilation files
lasertag/.settings
lasertag/src-gen/bin
lasertag/src-gen/logs
lasertag/src-gen/obj
*.cs
*.csproj
.project
.DS_store
*.xml
*.iml

# agent output files
Barrier.csv
BattlegroundDraw.csv
Ditch.csv
Hill.csv
Green.csv
Red.csv
Blue.csv
Yellow.csv
Spawner.csv

# Analysis and Visualization files (Python)
map.csv
agents.csv
*.pyc
*.prefs
Analysis/*.csv